:root{
  --cor-primaria: #fff;
  --cor-secundaria-claro: #E59BFF;
  --cor-secundaria-escura: #7A008D;
  --cor-fundo-botao: #7A008D;
  --cor-background: linear-gradient(180deg, #000000 22%, #0B0011 81%);
 
  --font-XL: 64px;
  --font-X: 48px;
  --font-G: 32px;
  --font-M: 16px;
  --font-P: 8px;
  
}

.cor-primaria{
  color: var(--cor-primaria);
}

.cor-secundaria-claro{
  color: var(--cor-secundaria-claro)
}

.cor-secundaria-escura{
  color: var(--cor-secundaria-escura)
}

.cor-fundo-botao{
  background: var(--cor-fundo-botao);
}

.font-XL{
  font-size: var(--font-XL)
}

.font-X{
  font-size: var(--font-X);
}

.font-G{
  font-size: var(--font-G);
}

.font-M{
  font-size: var(--font-M);
}

.uppercase{
  text-transform: uppercase;
}

.roboto{
  font-family: Roboto-Regular;
}
