@import "/style/global/global.css";
@import "/style/global/utilitario.css";
@import "/style/home/footer/footer.css";

html {
  height: 110vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.login-grid {
  display: grid;
  grid-template-columns: auto auto;
  width: 70%;
  margin: 0 auto;
  background-color: var(--cor-background-2);
  padding: 60px;
  border-radius: 6px;
  gap: 40px;
}

.login-card {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-self: center;
  background-color: var(--cor-background-3);
  align-items: center;
  padding: 60px;
  border-radius: 6px;
}

.login-forms {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.regis-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  background-color: var(--cor-background-3);
  border-radius: 6px;
}

.regis-txt {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.regis-txt {
  text-align: center;
}

.regis-card a {
  display: inline-block;
  background-color: var(--cor-fundo-botao2);
  padding: 16px 26px;
  border-radius: 4px;
  border-style: solid;
  border-color: var(--cor-texto-botao2);
  color: var(--cor-texto-botao2);
  border-width: 2px;
}

.forms-email > input {
  padding: 10px;
  width: 100%;
  border: none;
  background-color: #7a008d;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
}

.forms-senha > input {
  padding: 10px;
  width: 100%;
  border: none;
  background-color: #7a008d;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
}

.forms-email > input::placeholder {
  font-size: 2.5vmin;
  color: #e59bff;
}

.forms-senha > input::placeholder {
  font-size: 2.5vmin;
  color: #e59bff;
}

.login-cta {
  width: 100%;
  text-align: center;
}

.cta-login {
  display: inline-block;
  background-color: var(--cor-fundo-botao2);
  padding: 16px 26px;
  border-radius: 4px;
  border-style: solid;
  border-color: var(--cor-texto-botao2);
  color: var(--cor-texto-botao2);
  border-width: 2px;
  box-sizing: border-box;
}

.login-grid {
  margin-bottom: 60px;
}

@media (max-width: 1400px) {
  .login-grid {
    display: flex;
    flex-direction: column;
  }

  .regis-card {
    padding: 60px;
  }
}

@media (max-width: 800px) {
  .regis-txt h1 {
    font-size: 6vmin;
  }

  .regis-txt p {
    font-size: 4vmin;
  }

  .regis-card a {
    font-size: 6vmin;
  }

  .forms-email input {
    font-size: 4vmin;
    margin: 0 auto;
  }

  .cta-login {
    font-size: 6vmin;
  }

  .login-card h1 {
    font-size: 6vmin;
  }
}
