footer{
  background-color: #000;
}

footer a{
  color: var(--cor-primaria);
  display: inline-block;
}

footer a:hover{
  color: var(--cor-secundaria-claro);
  transition: 0.3s;
}


.footer-flex{
  display: flex;
  justify-content: space-between;
  padding: 40px;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-links{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-links img{
  width: 25%;
}

.footer-social{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 850px){
  .footer-links img{
    display: none;
  }
  .footer-flex{
    flex-direction: column;
    gap: 30px;
  }
}