.section1-flex{
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.main-frase{
  text-align: center;
}

.main-download a{
  display: inline-block;
  background-color: var( --cor-fundo-botao2);
  padding: 20px 16px;
  border-radius: 4px;
  border-style: solid;
  border-color: var(--cor-texto-botao2);
  color: var(--cor-texto-botao2);
  border-width: 2px;
  
}

@media (max-width: 1270px){
  .main-frase{
    font-size: 6vmin;
  }
  .section1-flex{
    padding-top: 100px;
    
  }
}

@media (max-width: 764px){
  .main-frase{
    font-size: 5vmin;
  }

  .main-download a{
    font-size: 3vmin;
    padding: 16px 8px;
  }
}